

html,
body {
    font-family: "Montserrat";
}

h1,
h2,
h3,
h4,
h5,
h6,
p,

span {
  word-break: break-word !important;
}

/* styles/colors.css */
.bg-green-gradient {
    background: linear-gradient(to right, #ecfdf5, #3bcd82);
    border-color: #00ff88;
}


